{% extends "app/page.html" %}

{% block content %}
  	
<table id="fakturyl" class="table table-striped table-bordered hover" cellspacing="0" width="100%">
<thead>
    <tr>
        <th>Faktura</th>
        <th>Daty</th>
        <th>NIP</th>
        <th>Nazwa</th>
        <th>Adres</th>
        
        <th>Spr 23%</th>
        <th>Spr 8%</th>
        <th>Spr 5%</th>
        <th>Spr 0%/ZW</th>
        
        <th>Nal</th>  
        <th>Jak</th>      
    </tr>
</thead>

</table>  	

{% endblock %}
