{# Modalny dialog do wgrywania podpisanego pliku kontrolnego #}
	
<div class="modal fade" id="sf-modal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">

			<div class="panel panel-default">
				<div class="panel-heading">
					Wgranie pliku sprawozdania finansowego
				</div>
				
			  	<div class="panel-body">
					<form id="initupload-form" action="{% url 'sf-upload' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
						Wybierz plik XML zawierający sprawozdanie finansowe<br/><br/>
						
						<input class="btn btn-default" type="file" name="plik" id="id_plik" /><br/>
						<input class="btn btn-default" type="submit" value="Wgraj" name="bramka">
    					<input type="hidden" class="form-control" id="sf-jpk_id" name="jpk_id">
					</form>
			  	</div>
			</div>
    		
    	</div>
	</div>
</div>
