body {
	font-size: 16px;
}

td {
	font-size: 12px;
}

td, th {
	padding: 2px;
	border: 1px solid #eeeeee;
	min-width: 50px;
}

td.kw {
	text-align: right;
	font-size: 14px;
}

th {
	font-size: 14px;
}

td.r {
	text-align: right;
}

.dziennik td, .dziennik th {
	min-width: 10px;
	font-size: 14px;
}