{% extends "app/page.html" %}

{% block content %}

<h1 style="padding-right: 50px; margin-right: 10px; margin-top: 0;">Zmiana hasła</h1>

{# <a href="#" class="nag_a pomocy" style="margin-right: 5px;">Pomoc</a> #}

<div class="clear"></div>

{% if form.errors %}
	<div style="margin-left: 15px;">
    <p class="error">Niepoprawne stare hasło lub różne hasła!</p>
    </div>
{% endif %}

<form action="" method="post">{% csrf_token %}
    <div class="outer">
        
        <div class="pole">
            <label for="old_password">Stare hasło:</label>
            <input type="password" name="old_password" value="" id="id_old_password">
        </div>
        
        <div class="pole">
            <label for="new_password1">Nowe hasło:</label>
            <input type="password" name="new_password1" value="" id="id_new_password1">
        </div>
        
        <div class="pole">
            <label for="new_password2">Hasło (powtórz):</label>
            <input type="password" name="new_password2" value="" id="id_new_password2">
        </div>
                        
        <input type="submit" value="Zmień hasło" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </div>
</form>

{% endblock %}
