{% extends "app/page_nav.html" %}

{% block content %}

<h3>Kontrola poprawności pliku {{plik.kod}}-{{plik.id}}.xml</h3>

<div class="panel panel-default panel-upload panel-{% if status %}success{% else %}danger{% endif %}">
	<div class="panel-heading">
  		<h3 class="panel-title">{% if status %}Nie znaleziono żadnych błędów{% else %}Znaleziono następujące błędy{% endif %}</h3>
	</div>
	
	{% if status %}
	{% else %}
  	<div class="panel-body">
		<ul class="list-group">
  		{% for blad in bledy %}
  			<li class="list-group-item">{{blad.0}} - {{blad.1|safe}}</li>
  		{% endfor %}
  		</ul>
	</div>
	{% endif %}
</div>

{% endblock %}
