{% extends "app/page_sf.html" %}

{% block content %}
  	
  	<div class="panel panel-default" style="max-width: 800px;">
		<div class="panel-heading panel-heading-sf">
			<span class="sf-naglowek">Rozliczenie różnicy pomiędzy podstawą opodatkowania podatkiem dochodowym a wynikiem finansowym (zyskiem, stratą) brutto</span>
			<br/>
			<span class="sf-okres">za {{okres}}</span>
		</div>
		
  		<div class="panel-body" style="padding: 0;">
			<div id="podatek"></div>
		</div>
	</div>

{% endblock %}
